/*
    stylesheet for American Impressionism
*/
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Playfair Display', serif;
*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0; 
background: #f2f6f9; /* Old browsers */
background: -moz-linear-gradient(top, #f2f6f9 0%, #ffffff 51%, #f9f4f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2f6f9 0%,#ffffff 51%,#f9f4f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f6f9 0%,#ffffff 51%,#f9f4f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f9', endColorstr='#f9f4f5',GradientType=0 ); /* IE6-9 */

}
main {
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 100px;
  }
h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  }
header h1 {
   color: #345883;
   color: rgba(52, 88, 131, 1);
   font-size: 27px;
   padding-top: 25px;
   padding-bottom: 0px;
   margin-bottom: 20px;
   border-bottom: 5px solid #345883;
   }
h2 {
  color: #822534;
  text-transform: capitalize;
  }
main h2::before {
   content: "\2022";
   padding-right: 9px;
   margin-left: -15px;
  /* display: inline-block;
   border:4px solid #822534; 
   overflow:hidden; 
   width:0; 
   height:0; 
   margin-right: 10px; 
   border-radius:4px; 
   vertical-align: 12%; */
  }
  main h2 {
    /*font-family: 'Playfair Display', serif;*/
   font-size: 21px;
   padding-top: 20px;
   margin-left: 0px;
   padding-bottom: 2px;
   margin-bottom: 5px;
   border-bottom: 1px solid #822534;
   line-height: 1;
   }
header h2 {
   padding-top: 0px;
   padding-bottom: 0px;
   margin-top: -15px;
   margin-bottom: 20px;
   font-size: 20px;
   color: #345883;
   }

header {
  padding-bottom:20px;
  padding-left: 7%;
  padding-right: 7%;
  }
@media screen and (min-width:1024px) {
  .leftcol {
   width: 48%;
   float: left;
   padding-right:4%;
   }
  .rightcol {
   width: 48%;
   float: right;
   margin-top: -6px;
   }
   .leftcol img {
   margin-top: 40px;
   }
   .rightcol img {
   margin-top: 46px;
   }
}
@media screen and (min-width:768px) {
    header h1 { font-size:45px; }
    header h2 { font-size: 28px; } /* Increase the font size for larger screens*/
    .dropdown {display: none;}
	.dropdown-content {display: none;}
	.dropdown:hover .dropdown-content {display: none;}
  }

@media screen and (max-width:480px) {
    img { width:280px;}
    main img {width:280px; margin: 0 -13px; text-align: center;} /* Decrease the size of the images for smaller screens*/
     nav {display: none;}
    .dropdown {
      position: relative;
      display: inline-block;}
	.dropdown-content {
      display: none;}
	.dropdown:hover .dropdown-content {
      display: block;}
    }
.dropdown-content {
    position: absolute;
    font-size: 8px;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;}    
figure {
   display: inline-block;
   text-align: center;
   font-size: 11px;
   margin: 5px;
   }
main figure.right {
   padding-top: 19px;
   text-align: center;
   margin: 0 auto;
   }
   main figure.left {
   padding-top: 13px;
   text-align: center;
   margin: 0 auto;
   }
nav {
  background-color: #345883;
  color: #a9afcf;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:99; 
  }
nav ul {
   padding: 0px;
   margin: 0 auto;
   text-align: center;
  }
nav li {
  display: inline-block;
  list-style-type: none;
  padding: 8px 20px 5px 20px;
  }
nav a:link {
  color: #ffffff;
  text-decoration: none;
  }
nav a:visited {
   color: #ffffff;
   }
nav a:hover {
  color: #a9afcf;
  text-decoration: none;
  }
nav a:active {
   color: #a9afcf;
   }
main ul li {
    list-style-type: none;
	text-indent: -31px;
   }
main ul li::before {
   content: "\269C";
   font-size: 20px;
   color: #4d970f;
   padding: 10px;
}
main a:link {
   color: #822534;
   font-weight: bold;
   text-decoration: none;
   }
main a:visited {
   color: #822534;
   font-weight: 600;
   text-decoration: none;
   }
main a:hover {
   border-bottom: 2px dotted #822534;
   padding-bottom: -5px;
   }
main a:active {
   border-bottom: 2px dotted #822534;
   padding-bottom: -5px;
   }
table {
  width: 100%;
  }
footer {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  background-color: #345883;
  background: url("images/Background.jpg") bottom center no-repeat;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0px;
   }
footer h3 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  font-size: 18px;
  }  
.important {
	font-size:15px;
	color: #345883;
	font-weight: bold;
  }
.firstparagraph {
  margin-top: 10px;
  }
.fltlft {
  float: left;
  }
.fltrt {
   float: right;
   }
.clear {
  clear: both;
  }
.center {
  text-align: center;
  }
/*.top  {
  transition-delay: 5s
  }*/
