/*
    stylesheet for American Impressionism
*/
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Playfair Display', serif;
*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;  
  }
main {
  padding-left: 13%;
  padding-right: 10%;
  padding-bottom: 100px;
  }
h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  }
header h1 {
   color: #345883;
   font-size: 27px;
   padding-bottom: 0px;
   margin-bottom: 20px;
   border-bottom: 5px solid #345883;
   }
h2 {
  color: #822534;
  text-transform: capitalize;
  }
header h2 {
   padding-top: 0px;
   padding-bottom: 0px;
   margin-top: -15px;
   margin-bottom: 20px;
   font-size: 20px;
   color: #345883;
   }
main h2 {
    /*font-family: 'Playfair Display', serif;*/
   font-size: 21px;
   padding-top: 20px;
   margin-left: -25px;
   padding-bottom: 3px;
   margin-bottom: 0px;
   border-bottom: 2px solid #822534;
   }
header {
  padding-bottom:20px;
  padding-left: 7%;
  padding-right: 7%;
  }
@media screen and (min-width:720px) {
    header h1 { font-size:45px; }
    header h2 { font-size: 28px; } /* Increase the font size for larger screens*/
  }
@media screen and (max-width:720px) {
    img { width:280px; } /* Decrease the size of the images for smaller screens*/
    }
figure {
   display: inline-block;
   text-align: center;
   font-size: 11px;
   margin: 5px;
   }
nav {
  background-color: #345883;
  color: #a9afcf;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  }
nav ul {
   padding: 0px;
   margin: 0 auto;
   text-align: center;
  }
nav li {
  display: inline-block;
  list-style-type: none;
  padding: 8px 20px 5px 20px;
  }
nav a:link {
  color: #ffffff;
  text-decoration: none;
  }
nav a:visited {
   color: #ffffff;
   }
nav a:hover {
  color: #a9afcf;
  text-decoration: none;
  }
nav a:active {
   color: #a9afcf;
   }
table {
  width: 100%;
  }
footer {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  background-color: #345883;
  background: url("images/Background.jpg") bottom center no-repeat;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0px;
   }
footer h3 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  font-size: 18px;
  }  
.important {
  }
.firstparagraph {
  margin-top: 10px;
  }
.fltlft {
  float: left;
  }
.fltrt {
   float: right;
   }
.clear {
  clear: both;
  }
.center {
  text-align: center;
  }
